*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/*custom scroll bar*/
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #93DC83;
}
::-webkit-scrollbar-thumb:hover {
    background: lightgreen;
}

/* menu btn styling */
.skipButton{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #F2DC1D;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    z-index: 1;
    font-size: 30px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

.skipButton:hover{
    filter: brightness(80%);
}

/*GIF styling*/
.GIF{
    background: url("https://media.giphy.com/media/l1uguGf2RVIsTXNDO/giphy.gif") no-repeat center ;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    z-index: 2;
}

/* home section styling */
.homeSelect{
    background: url("../images/ciel-etoile.avif") no-repeat center ;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.homeSelect .top{
    height: 40%;
}

.homeSelect .top img{
    display: block;
    padding-top: 6%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.homeSelect .bottom{
    height: 60%;
}
     
.homeSelect .bottom .form_game{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 40%;
}

.homeSelect .bottom .form_game .select_speudo{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2dd1dce;
}

.homeSelect .bottom .form_game .button_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.homeSelect .bottom .form_game .button_form button{
    border-radius: 25%;
    border: 2px solid #f2dd1dce;
    background-color: #000000;
    color: #f2dd1dce;
    transition: all 0.3s ease;
    margin: 10px;
    cursor: pointer;
}
    
.home .homeSelect .speudo button:hover{
    transform: scale(1.05);
    color: yellow;
    border: 2px solid yellow;
}

/* Game section styling */
canvas {
	background-color: black;
	border: 3px dashed #777;
	width: 100%;
 	height: 100%;
 	position: absolute;
}

/* Game-Over section styling */
.Game-Over {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color:rgba(0,0,0,.5);
	z-index: 1;
	backdrop-filter: blur(3px);
}

.Game-Over .Popup {
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	border-radius: 4px;
	color: black;
	margin: 0 100px;
	position: relative;
	padding: 10px 50px 20px;
}

.Game-Over .Popup .closeButton {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	border-style: outset;
}