*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* menu btn styling */
.skipButton{
    position: fixed;
    height: 45px;
    width: 42px;
    background: #F2DC1D;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    z-index: 1;
    font-size: 30px;
    border-radius: 6px;
    border: 0px;
    cursor: pointer;
}

.skipButton:hover{
    filter: brightness(80%);
}

/*GIF styling*/
.GIF{
    display: flex;
    background: url("https://media.giphy.com/media/l1uguGf2RVIsTXNDO/giphy.gif") no-repeat center ;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
}

/* home section styling */
.homeSelect{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black ; 
    color: #fff;  
    border-radius: 5%;
    border: 5px solid;
    border-color: #F2DC1D;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    z-index: 10;
}

/* Game-Over section styling */
.Game-Over {
    display: flex;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color:rgba(0,0,0,.5);
	z-index: 1;
	backdrop-filter: blur(3px);
}

.Game-Over .Popup {
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	background: white;
	border-radius: 4px;
	color: black;
	margin: 0 100px;
	position: relative;
	padding: 10px 50px 20px;
}

.Game-Over .Popup .closeButton {
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 10px;
	border-style: outset;
}

.hide{
    display: none;
}

.GameCanvas {
    background-color:black;
    margin: 0;
    padding: 0;
    width: 100%;
 	height: 100%;
}

/*---ScoreBord---*/
.score-bubble{
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #F2DC1D;
    opacity: 0.8;
}

.score{
    color: black;
    font-size: 24px;
}

.score::before{
    content: 'score: ';
}

/*---LeaderBord---*/
.leaderBoard{
    font-family:Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    position:absolute;
    top: 20px;
    right: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color:#F2DC1D;
    color: black;
    opacity: 0.8;
}

.leaderBoard>table{
    font-size: 18px;
}

.leaderBoard>h3{
    font-size: 24px;
}